<% layout('layout/boilerplate') %> 
<h1>Here you can see all yousers</h1>
 <ul>
    <% for(let user of allUsers) { %>
      <div class="card">
        <div class="row">
          <div class="col-md-12">
<!--   
  <li>User Id: <%= user.id %> <br/>  -->
    <li>Email: <%= user.username %> <br/> 
    <li>Name: <%= user.name %> <br/> 
    <li>Role: <%= user.role %> <br/> 
    
    <a href="/users/<%= user.id %>">Click here to see details</a>
    
     
  
    <br>

    </li> 
          </div>
        </div>
      </div>
   

   <%} %>
  </ul>