<% layout('layout/boilerplate') %> 

<ul>
<li> Backerys name: <%= backery.backerysname %> </li>
<li>Owners Name:  <%= backery.ownersName %> </li>
<li>Owners Family: <%= backery.ownersFamily %> </li>
<li>Number Of Poor People: <%= backery.numberOfPoorPeople %> </li>
<li>Average Monthly Incom Per Person: <%= backery.averageMonthlyIncomPerPerson %> </li>
<li>Backery provience: <%= backery.provience %> </li>
<li>Backery City: <%= backery.city %> </li>
<li>Backery district: <%= backery.district %> </li>
<li>Backery Village: <%= backery.village %> </li>
<li>Backery Street: <%= backery.Street %> </li>
<li>Backery number: <%= backery.number %> </li>
<li>Backery postCode: <%= backery.postCode %> </li>
<li>Backery Mobile Number: <%= backery.mobileNumber %> </li>
<li>Backery City: <%= backery.city %> </li>
<li>Backery Provience: <%= backery.provience %> </li>
<li>Backery Location: <%= backery.location %> </li>

  


<img src=<%=backery.image %> alt="Backery Image" width="100%"> 

<h1>Donations</h1>

<% for (let donate of donations.reverse()) {%> 
  <ul>
    <li>Donated Amount: <%=donate.amount  %>   SEK</li>
    <li>  <h3> by: <a href="/users/<%=donate.doneatorId %>"><%=donate.doneatorId%></a>  </h3></li>

    <li>Confirmed: <%=donate.confirmation  %>   </li>
   <% if(currentUser && currentUser.username==backery.creator.username) {%> 
   <a href="http:/donateconfirm/<%= donate.id  %> ">Confirm Donation</a>
<% } %> 
    <li><a href="http:/addimage/<%= donate.id  %>"></a> Add image</li>

  </ul>
<% } %> 
  


</ul>

<% if(!currentUser || currentUser.username !=backery.creator.username ) { %> 

<br/>
  <br/><a href="http:/users/<%= backery.creator.id %>">Creator</a><br/><br/>

   <a href="/donate/<%= backery.id %>">Donate to this backery</a> <br> 





 <% } else {%> 
  
  <a href="http:/newb/<%=backery.id %>/edit ">Edit Backery information</a>

<br/> <br/>

  <form action="/newb/<%=backery._id %>?_method=DELETE" method="POST">
    <button class="delete">Delete</button>

  </form> <br>

   <% } %> 




   <% if(!currentUser || currentUser.role !='B' ) { %> 

<br/>








 <% }%>


 <!-- <script>
  function confirmDonation(){
    console.log("I am in the click!"); 
  }
</script> -->