<!-- <% layout('layout/boilerplate') %> 
  <h1>Backery Information</h1>

 <li>Name: <%= backry.id %> <br/> <br/> <br/>
  <li>Name: <%= backry.backerysname %> <br/> <br/> <br/>
  <li>ownersName: <%= backry.ownersName %> <br/> <br/> <br/>
  <li>ownersFamily: <%= backry.ownersFamily %> <br/> <br/> <br/>
  <li>numberOfPoorPeople: <%= backry.numberOfPoorPeoplee %> <br/> <br/> <br/>
  <li>averageMonthlyIncomPerPerson: <%= backry.averageMonthlyIncomPerPerson %> <br/> <br/> <br/>
  <li>location: <%= backry.location %> <br/> <br/> <br/>
  <li>creator: <%= backry.creator %> <br/> <br/> <br/>


<br><br><br>
<a href="/backeries/<%= backery.id%>/edit"">Edit Information</a> <br> <br>
<a href="/backeries/<%= backery.id%>/addinfo"">Add Information</a> <br> <br>


<form action="/backeries/<%= backery.id%>?_method=DELETE" method="POST">
  <br> 
 <button>DELETE</button>

</form> -->

