<% layout('layout/boilerplate') %> 
  <h1>Here you can see all backeries</h1>

  <ul>
    <% for(let backry of backeries) { %>
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            

  <li>Backerys Name: <%= backry.backerysname %> <br/> <br/> <br/>
  <li>owners Name: <%= backry.ownersName %> <br/> <br/> <br/>
  <li>owners Family: <%= backry.ownersFamily %> <br/> <br/> <br/>
  <li>number Of Poor People: <%= backry.numberOfPoorPeople%> <br/> <br/> <br/>
  <li>average Monthly Income Per Person: <%= backry.averageMonthlyIncomPerPerson %> <br/> <br/> <br/>
  <li>location: <%= backry.location %> <br/> <br/> <br/>
  <li>Creator of backery account: <%= backry.creator %> <br/> <br/> <br/>
    
     
    <a href="/newb/<%= backry.id %>">Click here to see all details</a>
   

    </li> 
          </div>
        </div>
      </div>
   

   <%} %>
  </ul>
  <br> <br>
  <a href="/newones"><h2> Add new Backeries</h2></a>
