<% layout('layout/boilerplate') %> 
  <h1>User Information</h1>

 <h1>Here is the user page of: <%= user.name %>! </h1>
 Email: <%= user.username %> <br>
 Name: <%= user.name %> <br>
 Role: <%= user.role %> <br>
<br>
 
<% if(currentUser && currentUser.username == user.username && user.role!='d') { %> 


<a href="/newones">Create backery</a>

<% } %> 

<!-- <a href="http://activate/<%= user.id%> ">Activate ur id pls</a> <br/>